@import 'https://fonts.googleapis.com/css?family=Inconsolata|Oswald';

html {
  font-size: calc(1em + 1vw);
  color: #2C3E50;
  font-family: 'Oswald', sans-serif;
}

h1,
h2 {
  padding: .5rem;
  background-color: #168910;
  color: #ffffff
}

.wrapper,
section {
  margin-left: 1rem;
  margin-right: 1rem;
}

dd {
  margin-left: 0;
  margin-bottom: 1rem;
}

code,
kbd {
  font-family: 'Inconsolata', monospace;
  background-color: #D7DADB;
}

.grid {
  display: flex;
  flex-flow: row wrap;
}

.grid > * {
  flex-basis: 15em;
  flex-grow: 1;
}